<nav role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
          -->
      <span></span>
      <span></span>
      <span></span>
      
      <ul id="menu">
        <a href="/books"><li>Home</li></a>
        <a href="/books/new"><li>Add New Book</li></a>
        <a href="/searches/new"><li> Search</li></a>
      </ul>
    </div>
  </nav>
