<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
  <%- include('../partials/header', {title: 'Add New Book'}); %>
  <form action="/books" method="POST">
    <label>Title: <input type="text" name="title" /></label>
    <label>Author: <input type="text" name="author" /></label>
    <label>Author URL: <input type="text" name="image_url" /></label>
    <label>Description: <input type="text" name="description" /></label>
    <label>ISBN: <input type="text" name="isbn" /></label>
    
    <input type="submit" />
  </form>
</body>
</html>