<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
  <%- include('../partials/header', {title: 'Add New Book'}); %>
  
  <div class = 'formDiv'>
  <form action="/books" method="POST">
    <input class = "formWidth" type="text" name="title" placeholder = "Title" />
    <input class = "formWidth" type="text" name="author" placeholder = "Author" />
    <input class = "formWidth" type="text" name="isbn" placeholder = "ISBN" />
    <input class = "formWidth" class = "formWidth" type="text" name="image_url" placeholder = "Image URL" />
    <textarea class = "formWidth" type="text" name="description" placeholder = "Description"></textarea> 
    <input type="submit" />
  </form>
  </div>
</body>
</html>