.formWidth {
  display: block;
  text-align: left;
  align-content: center;
  padding: 10px;
  margin:15px 0;
  width: 500px;
}

.formWidth:focus {
  background-color: aquamarine; 
}

textarea {
  display: block;
  text-align: left;
  align-content: center;
  padding: 10px;
  margin:15px 0;
  height:100px ;
}
  
div.formDiv {
  display: inline-block;
}

.radioButtons {
  text-align: left;
}
